# === PERSONNAL FILES ===
*.json
*.xlsx
*.csv
data/
archived_scripts_and_files/
google_service_account.json
*.pem

# === JUPYTER NOTEBOOKS ===
.ipynb_checkpoints/
*.ipynb

# === PYTHON CACHE ===
__pycache__/
*.py[cod]

# === VIRTUAL ENVIRONNEMENTS ===
env/
.venv/
ENV/
.ENV/
.env

# === LOCAL FILES FOR VS CODE ===
*.code-workspace
.vscode/

# === OTHER TEMPORARY FILES ===
.DS_Store
*.log
*.tmp
